{% load staticfiles %}
<html ng-app="scanApp">
<head>
    {% include 'scan/_css_head.html' %}
    {% include 'scan/_script_head.html' %}
    <title>{% block title %}Index{% endblock %}</title>
</head>
<body>
    <header>
        <ul>
            <li><a href="#">HOME</a></li>
        </ul>
    </header>
    <div id="wrapper">
        <div class="left-nav">
            <dl>
                <dt>热门游戏</dt>
                <dd>英雄联盟</dd>
                <dd>炉石传说</dd>
                <dd>DOTA2</dd>
                <dd>穿越火线</dd>
                <dt>热门游戏</dt>
                <dd>英雄联盟</dd>
                <dd>炉石传说</dd>
                <dd>DOTA2</dd>
                <dd>穿越火线</dd>
                <dt>热门游戏</dt>
                <dd>英雄联盟</dd>
                <dd>炉石传说</dd>
                <dd>DOTA2</dd>
                <dd>穿越火线</dd>
                <dt>热门游戏</dt>
                <dd>英雄联盟</dd>
                <dd>炉石传说</dd>
                <dd>DOTA2</dd>
                <dd>穿越火线</dd>
                <dt>热门游戏</dt>
                <dd>英雄联盟</dd>
                <dd>炉石传说</dd>
                <dd>DOTA2</dd>
                <dd>穿越火线</dd>
                <dt>热门游戏</dt>
                <dd>英雄联盟</dd>
                <dd>炉石传说</dd>
                <dd>DOTA2</dd>
                <dd>穿越火线</dd>
                <dt>热门游戏</dt>
                <dd>英雄联盟</dd>
                <dd>炉石传说</dd>
                <dd>DOTA2</dd>
                <dd>穿越火线</dd>
                <dt>热门游戏</dt>
                <dd>英雄联盟</dd>
                <dd>炉石传说</dd>
                <dd>DOTA2</dd>
                <dd>穿越火线</dd>
                <dt>热门游戏</dt>
                <dd>英雄联盟</dd>
                <dd>炉石传说</dd>
                <dd>DOTA2</dd>
                <dd>穿越火线</dd>
                <dt>热门游戏</dt>
                <dd>英雄联盟</dd>
                <dd>炉石传说</dd>
                <dd>DOTA2</dd>
                <dd>穿越火线</dd>
                <dt>热门游戏</dt>
                <dd>英雄联盟</dd>
                <dd>炉石传说</dd>
                <dd>DOTA2</dd>
                <dd>穿越火线</dd>
                <dt>热门游戏</dt>
                <dd>英雄联盟</dd>
                <dd>炉石传说</dd>
                <dd>DOTA2</dd>
                <dd>穿越火线</dd>
                <dt>热门游戏</dt>
                <dd>英雄联盟</dd>
                <dd>炉石传说</dd>
                <dd>DOTA2</dd>
                <dd>穿越火线</dd>
            </dl>
        </div>
        <div id="main-content" class="row">
            {% if messages %}
                <ul class="messagelist">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {% block main %}
            {% endblock %}
        </div>
    </div>
    <footer>{% block footer %}{% endblock %}</footer>
    <script>
        function findDD(e){
            var res = [];
            e = e.nextElementSibling;
            while (e) {
                if (e.nodeName === 'DD') {
                    res.push(e);
                    e = e.nextElementSibling;
                } else {
                    break;
                }
            }
            return res;
        }
        $(document).ready(function(){
            var $dd = $('dd'), $dt = $('dt'), temp={};
            $dd.hide();
            $dt.on('click', function(){
                var $self = $(this);
                if (! $self.hasClass('active')) {
                    $dd.slideUp();
                    $(findDD(this)).slideToggle();

                    $dt.removeClass('active');
                    $self.addClass('active');
                } else {
                    $dd.slideUp();
                }
            });
        });
    </script>
    {% include 'scan/_script_body.html' %}
    <div class="alert-block" ng-controller="alertCtrl as vm">
        <div id='{$ d.id $}' ng-repeat="d in vm.messages" class="{$ 'alert-message active alert alert-' + d.level $}">
            <button class="close" ng-click="vm.remove($event, $index)"><span>&times;</span></button>
            {$ d.msg $}
        </div>
    </div>
</body>
</html>